<p>
<label for="angle">Angle</label>
<input type="range" min="0" max="90" id="angle" />
</p>
<p>
<label for="speed">Speed</label>
<input type="range" min="0" max="10" id="speed" />
</p>
<p>
<label for="animation">Animation Speed</label>
<input type="range" min="0" max="100" id="animation" />
</p>
<p>
<input type="button" id="start" value="Start" />
</p>
<script src="~/scripts/Trajectory.js"></script>