<h2>What kind of items do we have?</h2>
<h4>Enemies</h4>
<ol>
    <li>Anxiety Drone</li>
    <li>Turret</li>
    <li>Grunt</li>
</ol>
<h4>Environment</h4>
<ol>
    <li>Shield and switch</li>
    <li>Teleport</li>
    <li>Lift</li>
    <li>Crumbling floor</li>
    <li>Alarm</li>
</ol>
<h4>Checkpoints</h4>
<ol>
    <li>Finish post</li>
    <li>Bonus</li>
    <li>Standard</li>
</ol>