<h2>Current Sprint milestones</h2>
<p>Each is at least one minor release</p>
<ol>
    <li class="markDone">[prerequisite] All work items created</li>
    <li>level 1 shown with surface [not different types] showing caves too [2]</li>    
    <li>Surfaces types on level 1 [2] including lifts</li>    
    <li>Enemies and types on Level 1 [3]</li>
    <li>Shields and teleports</li>
    <li>Player fully animated [2]</li>
    <li>Level linked into accomplishements, tied to difficulty. 100% only possible on difficulty == 4 [anxiety drones]</li>
    <li>Help screen loading from document with description and name [and type header], not images</li>    
</ol>
<hr />
<h2>Futures without tags</h2>
<ol>
    <li>Help showing player interaction and what you can do</li>
    <li>Bonus game to unlock content in main game</li>
    <li>Full and interactive map</li>
    <li>Bosses and fully working "save allies" ability</li>
    <li>Intelligent enemy that tries to surround you while pursuing</li>
    <li>Hacking and other powers to overwhelm the system and control your enemies</li>
</ol>


<h2>Subversions</h2>
<ol>
    <li>Accomplishments and upgrading V3</li>
    <li>Allies and saving [V1 coming in 2]</li>
    <li>Lifts [V1 coming in 1.13]</li>
    <li>Shield [V1 coming in 1.13]</li>
    <li>Social V3</li>
    <li>Surfaces V1 [V2 coming in 1.13]</li>
</ol>